
@font-face {
    font-family: 'Tauri';
    src: url('../font/tauri/Tauri-Regular.ttf') format("truetype");
}

/* https://developer.mozilla.org/ja/docs/Web/CSS/:root */
:root{
    font-family: 'Tauri';
    color: aliceblue;
}